html {
    --yellow: #F0E710;
    --white: #fffdfd;
    --blue: #283794;
    --red: #e3170a;
    --charcoal: #222823;
    --blue-black: #15192F;

}

header {
    background-color: var(--blue-black);
    color: var(--white);
    padding: 30px;
    position: relative;

    label {
        cursor: pointer;
        height: 1.25rem;
        position: absolute;
        right: 1rem;
        width: 1.625rem;
        z-index: 1001;
      
        span {
          background-color: var(--white);
          border-radius: 2px;
          display: block;
          height: 3px;
          position: absolute;
          width: 100%;
          transform-origin: left;
      
          &:nth-child(1) {
            top: 0;
          }
      
          &:nth-child(2) {
            top: 0.5rem;
          }
      
          &:nth-child(3) {
            top: 1rem;
          }
        }
      }
}

/* Show nav when checkbox is checked */
.nav-toggle:checked ~ nav {
    right: 0;
  }
    
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
  }
    
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }